body {
    background-color: black;
}

div {
    margin-top:35px;
    text-align:center;
    color:white;
    font-family: Cubano,monospace;
}

p {
    font-size: 10em;
}

button {
    width: 50%;
    height: 200px;
    font-size: 10em;
    font-family: Cubano,monospace;
    color: white;
    text-align: center;
    background-color: red;
    border-width: 8px;
}